# --- SEGURIDAD Y ENTORNO ---
# Cambiar a False en producción. True solo para desarrollo local.
DEBUG=True
# No usar comillas a menos que el valor tenga espacios.
SECRET_KEY=secretkeuy
# En producción, se añade aquí la IP pública o dominio (separados por coma sin espacios)
ALLOWED_HOSTS=127.0.0.1,localhost

# --- CONFIGURACIÓN DE POSTGRES (DOCKER) ---
# Estas variables las usa la imagen oficial de PostgreSQL para crear la DB
POSTGRES_DB=base_de_datos_sistema
POSTGRES_USER=usuario_postgresql
POSTGRES_PASSWORD=tu_password_segura

# --- CONEXIÓN A BASE DE DATOS (DJANGO) ---
# 'db' es el nombre del servicio que suele definirse en docker-compose.yml
DATABASE_URL=postgres://usuario_postgresql:tu_password_segura@db:5432/base_de_datos_sistema

# --- CONFIGURACIÓN DE CORREO (SMTP) ---
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USE_TLS=True
EMAIL_HOST_USER=usuario
EMAIL_HOST_PASSWORD=clave
DEFAULT_FROM_EMAIL="Sistema de Registro <sandbox.smtp.mailtrap.io>"