 --- SEGURIDAD ---
# Genera una nueva con: python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
SECRET_KEY=UXJig)7j84HH2vzNv3-+6*NSACZek4fGZ6(rTeG_t==gLVfTy6
# Cambiar a False en producción. True solo para desarrollo local.
# Debug debe ser False en producción por seguridad.
DEBUG=True
#allowe hosts debe incluir los dominios permitidos en producción.
#en desarrollo local, localhost y
#la IP local
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
# --- BASE DE DATOS ---
POSTGRES_DB=robotica_db
POSTGRES_USER=msathiu   
POSTGRES_PASSWORD=tu_password_segura
# Cadena de conexión a la base de datos PostgreSQL
# Formato: postgres://usuario:password@host:puerto/nombre_db
# Si usas Docker con el servicio llamado 'db', sería:
#DATABASE_URL=postgres://tu_usuario:tu_password@db:5432/tu_nombre_db
DATABASE_URL=postgresql://msathiu:tu_password_segura@db:5432/robotica_db

# --- CONFIGURACIÓN DE EMAIL (Mailtrap para Desarrollo) ---
#En producción, usar un servicio real
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_HOST_USER=6845712d2969d0
EMAIL_HOST_PASSWORD=25ad98f397b1d1
#EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=web@fvrc.org.ve

# --- VARIABLES DEL SITIO ---
#en producción cambiar al dominio real
BASE_URL=http://localhost:

DJANGO_SETTINGS_MODULE=SistemaRegistro.settings
